@use "../abstracts" as theme;

.post_info {
  text-align: right;
  padding: 0 50px;
  font-size: theme.$font-smaller;
  margin: 0;
  color: theme.$color-muted;
}
.abstract {
  font-size: theme.$font-smaller;
  color: theme.$color-muted;
  padding: 1.1em 2.8em;
  p {
    border-bottom: theme.$thin-border;
  }
}
