.reveal {
    font-size: 1.5vw;
}

.reveal,
body {
    overflow: auto; /* or overflow-x / overflow-y if you want only horizontal/vertical */
    height: 100%; /* make sure body takes full height */
    margin: 0; /* reset default margin */
}
